<section
  class="rounded-xl border-2 shadow border-slate-400/10 bg-neutral-100 px-4 h-full w-full flex flex-col items-center justify-center gap-3">
  @if (itemValue === undefined) {
    <p class="text-center font-semibold text-[64px]"><i class="{{ iconClass }}"
                                                        title="{{iconLabel}}"></i></p>
  } @else {
    <p class="font-semibold text-center">{{ itemValue }}</p>
    <p><i class="{{ iconClass }}" title="{{iconLabel}}"></i></p>
  }
  <aside>
    <p>{{ tooltip }}</p>
  </aside>
</section>

