section {
  cursor: help;
  position: relative;
}

section > aside {
  display: none;
}

section:hover > aside {
  display: block;
  position: absolute;
  bottom: calc(100% + 10px);
  font-size: 0.6em;
  background-color: #444444;
  text-align: center;
  line-height: 1.2em;
  opacity: 90%;
  color: #eee;
  padding: 5px 20px;
  z-index: 100;
  border-radius: 10px;
  min-width: 300px;
}

section:hover > aside:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid #444444;
  bottom: -8px;
  left: calc(50% - 8px);
}
