<div class="flex items-center h-screen">
  <main class="w-[600px] min-h-[600px] m-auto bg-neutral-50 border-2 shadow rounded-xl p-3">
    <h1 class="text-4xl text-center ">MyWeatherApp</h1>
    <div class="h-5"></div>
    <app-searchbox></app-searchbox>
    <div class="h-5"></div>
    <app-weather-report *ngIf="show_report()"></app-weather-report>
    <app-landing-message *ngIf="show_welcome()"></app-landing-message>
    <app-notfound-message *ngIf="show_notfound()"></app-notfound-message>
    <app-searching-message *ngIf="show_searching()"></app-searching-message>
  </main>
</div>
