<div class="flex items-center justify-around gap-3" role="search">
  <label class="text-gray-700" for="location-input">Location:</label>
  <input
    #locationInput
    (keyup.enter)="searchWeatherForLocation(locationInput.value)"
    class="mt-1 p-2 rounded-md border-gray-300 shadow-sm focus:border-sky-300 focus:ring focus:ring-sky-200 grow"
    id="location-input"
    placeholder="e.g. Toulouse"
    type="search">

  <button
    (click)="searchWeatherForLocation(locationInput.value)"
    class="bg-sky-600 text-white py-2 px-4 rounded hover:bg-sky-500 focus:outline-none focus:ring focus:ring-sky-200"
    type="submit">
    Get Weather
  </button>
</div>


