<style>
  #spinner {
    vertical-align: text-bottom;
    animation: rotation 1s linear infinite;
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<p class="text-center text-xl pt-5">
      <span class="material-symbols-rounded"
            id="spinner">
progress_activity
  </span>
  Retrieving weather report, please wait...
</p>

